* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#q4Wrapper {
  background-color: #2a3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1,
#q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header,
#q4Wrapper footer {
  background-color: #22272b;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout {
  background-color: #2b3034;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  background-color: #23272a;
}

.layout_title {
  margin: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
}

/* Begin styling the report items here! */
.reports {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  justify-items: center;
}

.reports_item {
  padding: 30px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reports_cover {
  border-radius: 4px;
  box-shadow: 5px 5px 5px #22272b;
}

/* Card's responsiveness */
@media (max-width: 950px) {
  .reports {
    grid-template-columns: 230px 230px 230px;
  }

  .reports_cover {
    width: 220px;
  }
}

@media (max-width: 820px) {
  .reports {
    grid-template-columns: 210px 210px 210px;
  }

  .reports_cover {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .reports {
    grid-template-columns: 300px 300px;
  }

  .reports_cover {
    width: 240px;
  }
}

@media (max-width: 650px) {
  .reports {
    grid-template-columns: 210px 210px;
  }

  .reports_cover {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .reports {
    grid-template-columns: 150px 150px;
  }

  .reports_cover {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .reports {
    grid-template-columns: 150px 150px;
  }

  .reports_cover {
    max-width: 135px;
    width: 100%;
  }
}

footer.reports_docs {
  width: 280px;
  background-color: #23272a;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer.reports_docs h3 {
  margin: 5px 0px;
  font-size: 16px;
}

footer.reports_docs a {
  color: #ffffff;
  font-weight: 700;
}

footer.reports_docs span {
  color: #919394;
  font-weight: 700;
}

footer .mobile_line {
  display: none;
}

/* Card's Footer responsiveness */
@media (max-width: 950px) {
  footer.reports_docs {
    width: 240px;
  }

  footer.reports_docs h3 {
    font-size: 14px;
  }
}

@media (max-width: 820px) {
  footer.reports_docs {
    width: 220px;
  }

  footer.reports_docs h3 {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  footer.reports_docs {
    width: 280px;
  }

  footer.reports_docs h3 {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  footer.reports_docs {
    max-width: 220px;
    width: 100%;
  }

  footer.reports_docs h3 {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  footer.reports_docs {
    width: 165px;
  }

  footer.reports_docs h3 {
    font-size: 13px;
  }
  footer .mobile_line {
    display: initial;
  }
}

@media (max-width: 400px) {
  footer.reports_docs {
    width: 155px;
  }
  footer.reports_docs h3 {
    font-size: 12px;
  }
}
